* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /*outline: 1px solid red;*/
}

:root {
    --main-background-color: #FFFFFF;
    --other-background-color: #252B42;
    --header-text-color: #FFFFFF;
    --burger-menu-log0-color: #FFFFFF;
    --h2-h3-text-color-on-main-background: #252B42;
    --main-text-color-on-main-background: #374754;
    --button-background-color: #2091F9;
    --input-email-form-background-color: #F4F4F4;
    --input-email-from-border-color: #E8E8E8;
    --input-email-from-text-color: #18171D;
    --bakcground-color-button-hover: #18171D;
    --client-name-border-color: #D8D8D8;
    --dark-text-color: #374754;
    --prices_block-border-color: #DEDEDE;
    --contact-us-form-broder-color: #DDDDDD;
    --contact-us-form-border-box-shadov: rgba(0, 0, 0, 0.07);
    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 400;
    ;
    text-align: center;
}

body {
    display: inline-block;
    align-items: center;
    width: 100%;
}

section {
    width: 100%;
    align-items: center;
}



header,
main {
    background-color: var(--main-background-color);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 310px;
    width: 100%;
    margin: 0px;
}

section,
footer {
    max-width: 1439px;
}

footer {
    color: var(--header-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 107px 0px;
}


h2 {
    font-style: normal;
    color: var(--h2-h3-text-color-on-main-background);
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    ;
    line-height: 55px;
    letter-spacing: 0.2px;
    margin: 100px 50px 25px 50px;
}

h3 {
    color: var(--h2-h3-text-color-on-main-background);
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.1px;
    margin: 20px 0px;
    padding: 0px 20px;
}

h4 {
    color: var(--main-text-color-on-main-background);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    margin: 0px 76.5px;
}

p {
    color: var(--main-text-color-on-main-background);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
}


.other-background {
    background-color: var(--other-background-color);
}

.big-image {
    display: block;
    padding: 25px 10px 25px 10px;
    width: 100%;
}

.button {
    /*apply button for div*/
    display: flex;
    align-items: center;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: stretch;
}

a.apply-button {
    /*apply-button for a*/
    padding: 16px 0px;
    height: 52px;
    width: 236px;
    color: var(--main-background-color);
    background-color: var(--button-background-color);
    text-decoration: none;
    border-radius: 26px;
    cursor: pointer;
}

/*When the screen widther then 850px*/

@media screen and (min-width: 850px) {
    .big-image {
        display: block;
        margin: auto;
        padding: 25px 10px 25px 10px;
        max-width: 1190px;
    }
}