.main__page-part {
    padding-bottom: 50px;
}

.page-part__blocks-inside {
    margin: 20px 93.5px;
}

.blocks-inside__info {
    margin: 70px 0px 80px 0px;
}

.page-part_newsletter {
    margin-top: 0px;
}

/*Apply form block*/

.page-part__input-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 300px;
}

input[type="email"], input[type="text"], textarea[type="message"]{
    padding: 19px 35px;
    margin: 10px 0px;
    background-color: var(--input-email-form-background-color);
    border: 2px solid var(--input-email-from-border-color);
    border-radius: 39px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--input-email-from-text-color);
}

button[type="submit"] {
    padding: 17px 35px;
    width: 300px;
    background-color: var(--button-background-color);
    color: var(--header-text-color);
    padding: 19px 20px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-family: 'Graphik';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

button[type="submit"]:hover {
    background-color: var(--bakcground-color-button-hover);
}

/*Parthners block*/

.page-part__clients__client_name {
    margin: auto;
    padding: 25px 40px;
    width: 273px;
    border: 1px solid var(--client-name-border-color);
}

.page-part__clients__client_name p {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: var(--dark-text-color);
    margin-bottom: 15px;
}

/*Testimonials block*/

p.page-part__small-dark {
    margin: 30px 30px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 13.5256px;
    line-height: 17px;
    letter-spacing: 0.16907px;
    color: var(--dark-text-color);
}

.page-part__about-client {
    display: block;
    margin: auto;
    width: 50%;
}

.about-client__info__goal {
    color: var(--dark-text-color);
    font-weight: 700;
    font-size: 10.1442px;
    line-height: 15px;
    letter-spacing: 0.0845349px;
}

.about-client__info__position {
    color: var(--h2-h3-text-color-on-main-background);
    font-weight: 400;
    font-size: 12.6802px;
    line-height: 23px;
    letter-spacing: 0.16907px;
}

.about-client__info {
    display: inline-block;
}

/*Pricing block*/

.other-background h2, .other-background h4{
    color: var(--header-text-color);
}

.other-background h4 {
    margin-bottom: 100px;
}

.pricing__main-background, .pricing__other-background{
    display: flex;
    flex-direction: column;
    width: 335px;
    border: 1px solid var(--prices_block-border-color);
    border-radius: 10px;
    padding: 40px;  
    gap: 30px;                                                                                                  /**?????*/
    font-family: 'Graphik';                                                                           
    font-weight: 400;
    margin: auto;
    margin-bottom: 50px;
}

.pricing__main-background {
    background-color: var(--main-background-color);
}

.pricing__title {
    color: var(--h2-h3-text-color-on-main-background);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.price, .price__inner {
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
}


.pricing__info {
    width: 60%;
    margin: auto;
}

.pricing__price {
    display: block;
    width: 100%;
    margin: auto;
}

.dolar-sign {
    text-align: left;
}

.price {
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    text-align: right;
}

.pricing__details__features {
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.pricing__other-background {
    background-color: var(--button-background-color);
}

.pricing__other-background * {
    color: var(--header-text-color);
}

a.other {
    background-color: var(--main-background-color);
    color: var(--button-background-color);
}


/*Contact us block*/

.contact-us__social-network {
    margin: auto;
    padding: 70px 0px 0px 0px;
}


.contact-us__social-network .middle {
    margin: 0px 40px;
}

.contact-us__info {
    width: 340px;
    margin: 70px auto;
}

.contact-us__info__item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-us__info img {
    width: 25.33px;
    height: 31.67px;
}

.contact-us__info p {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    text-align: left;
    padding-left: 20px;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pad: 52px 49px;
    gap: 45px;
    height: 669px;
    width: 378px; 
    margin: auto;


    border: 1px solid var(--contact-us-form-broder-color);                      
    box-shadow: 0px 13px 19px var(--contact-us-form-border-box-shadov);                                                  /*Shadow*/
    border-radius: 20px;
}

.page-part__input-email p {
    color: var(--h2-h3-text-color-on-main-background);
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    padding-bottom: 20px;
}

textarea[type="message"] {
    border-radius: 0px;
}

.page-part__input-email input[type="email"], input[type="text"], textarea[type="message"] {
    font-family: 'Roboto';
    margin-bottom: 25px;
    color: var(--input-email-from-text-color);
}